body {
    margin-left: 150px;
    margin-right: 0px;
    background-color: #66e800;
    color: #FEFEFE;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
}

h3 {
    font-style: italic;
    color: #FEFEFE;
}

.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  

  @media screen and (max-width: 1000px) {
    .column {
      width: 100%;
    }
  }